.close-btn {
    margin: 0;
}

.total {
    font-size: 1em;
    font-weight: 700;
}

.order-button {
    display: flex;
    justify-content: flex-end;
}
.btn {
    background-color: #005f5f;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px lightslategray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    font-size: 1rem;
}
.btn:hover {
    transition: .4s;
    border: 1px solid white;
    background-color: #fff;
    color: #00BFA6;
}

.btn:active {
    background-color: #87dbd0;
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff;
}