body {
    margin: 0;
    padding: 0;
    background: ghostwhite;
}
.btn {
    background-color: #005f5f;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px lightslategray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}
.btn:hover {
    transition: .4s;
    border: 1px solid white;
    background-color: #fff;
    color: #00BFA6;
}

.btn:active {
    background-color: #87dbd0;
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff;
}

.navbar-end {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.container {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 {
    margin-top: 1%;
    position: relative;
}
.text-block h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Audiowide", sans-serif !important;
    position: absolute;
    backdrop-filter: blur(5px);
    bottom: 30px;
    left: 30px;
    color: #111111;
}

.grid-container h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}
table {
    font-family: "Audiowide", sans-serif;
}
table a {
    font-family: "Arial Rounded MT Bold";
    color: #023030;
}
table thead {
    -webkit-font-smoothing: antialiased;
    background-color: #7ac4ab;

}
table tr {
    color: black;
}

/*table, th, td {*/
/*    border: 3px solid #d5eded;*/
/*}*/
svg {
    height: 100%;
}

.text-block p {
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 300px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: "Times New Roman";
    position: absolute;

    box-shadow: inset 0 0 2000px #007d7d;

    backdrop-filter: blur(5px);
    bottom: 30px;
    left: 30px;
    color: white;
}
.text-block p1 {
    font-size: 20px;
    margin-bottom: 95px;
    margin-left: 500px;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    backdrop-filter: blur(10px);
    bottom: 30px;
    left: 30px;
    color: white;
}
.text-block p2 {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 500px;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    backdrop-filter: blur(5px);
    bottom: 30px;
    left: 30px;
    color: white;
}
.text-block h4 {
    font-size: 35px;
    margin-bottom: 100px;
    margin-left: 200px;
    font-family: "Audiowide", sans-serif;
    position: absolute;
    backdrop-filter: blur(5px);
    bottom: 30px;
    left: 30px;
    color: white;
}
.text-danger {
    background-color: yellow;
    color:red; !important
    text-align:center;
}

